<!DOCTYPE html>
<html ng-app="appTest">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>
	<body>
		<div ng-controller="TabsCtrl">
		<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/services.js"></script>
		<script type="text/javascript" src="scripts/controllers.js"></script>

		
			<div class="nav" ng-click="changeTab('one')">One</div>
			<div class="nav" ng-click="changeTab('two')">Two</div>
			<div class="nav" ng-click="changeTab('three')">Three</div>

			<div class="tab-content" ng-show="currentTab === 'one'">
				<h1>One</h1>
				<p>Fap migas blog bicycle rights, vinyl literally tattooed crucifix. Dreamcatcher PBR&B fap pop-up lumbersexual. DIY Thundercats polaroid cray whatever Williamsburg, fap meh tofu trust fund McSweeney's. Godard cold-pressed leggings migas four dollar toast Intelligentsia keffiyeh, pork belly tattooed Kickstarter ennui master cleanse Vice small batch farm-to-table. Hoodie Thundercats Vice fingerstache, lo-fi church-key bespoke post-ironic mumblecore Blue Bottle YOLO asymmetrical messenger bag +1. Pug Tumblr post-ironic, fingerstache bespoke beard XOXO taxidermy farm-to-table artisan retro direct trade High Life. Meh meggings banjo Thundercats polaroid.</p>
			</div>
			<div class="tab-content" ng-show="currentTab === 'two'">
				<h1>Two</h1>
				<p>Selvage quinoa literally Neutra post-ironic. Butcher banjo fap, Wes Anderson street art Etsy master cleanse art party deep v. Kogi Portland Banksy, Etsy mumblecore Neutra raw denim PBR&B food truck next level iPhone four loko Vice. Small batch selvage Vice brunch. Brooklyn 3 wolf moon plaid Pitchfork. Cronut authentic biodiesel pork belly wayfarers, typewriter taxidermy locavore. Typewriter yr VHS, Austin gentrify farm-to-table fixie artisan mustache direct trade.</p>
			</div>
			<div class="tab-content" ng-show="currentTab === 'three'">
				<h1>Three</h1>
				<p>FFour dollar toast McSweeney's before they sold out Thundercats sriracha, leggings shabby chic synth 90's High Life tilde distillery fanny pack narwhal dreamcatcher. Four dollar toast migas meditation keytar semiotics cardigan tofu, selvage hashtag. Keffiyeh DIY ugh craft beer semiotics. Tofu letterpress heirloom, next level umami Echo Park DIY. Thundercats XOXO lumbersexual mixtape. Jean shorts salvia heirloom, VHS quinoa hashtag Etsy vegan yr hoodie Wes Anderson leggings YOLO seitan. Sartorial +1 kale chips shabby chic, Vice kitsch photo booth you probably haven't heard of them Brooklyn.</p>
			</div>
		</div>


		
		
	</body>
</html>

